body{
  	/* background-image: url("/img/avVillas.jpg"); 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover; */

}
.footer{
	background-color: #C10003;
}
li{	
	border-radius: 10px;	
	list-style:none;
	

}
